In [1]:
# import boto3 library
import boto3
import zipfile
# import botocore library for error handling
import botocore

s3 = boto3.resource('s3')

try:
    s3.Bucket('blossom-data-engs').download_file('free-7-million-company-dataset.zip', '/Users/nanayaw/Desktop/blossom/blossomenv/s3project.zip')
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code']=='404':
        print('The file does not exist')
    else:
        raise

with zipfile.ZipFile('s3project.zip','r') as zip_refs:
#  extract file into the path specified and file name is companies_sorted.csv
    zip_refs.extractall('/Users/nanayaw/Desktop/blossom/blossomenv/')

In [15]:
# import pandas
import pandas as pd
# read companies CSV
ps3 = pd.read_csv('companies_sorted.csv')
# remove the null values in the columns
ps3 = ps3.dropna()
ps3.head()

/Users/nanayaw/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate,Unnamed: 11
33937,1128772,sefcu,www,sefcu.com,1934,banking,501 - 1000,"albany, new york, united states",united states,linkedin.com/company/sefcu,344,666.0
60470,2575117,icarda,international center for agricultural researc...,icarda.org,1977,non-profit organization management,501 - 1000,"bayrut, beyrouth, lebanon",lebanon,linkedin.com/company/icarda,189,527.0
67461,3951975,associated consulting engineers,ace,ace-intl.net,1956,construction,501 - 1000,"karachi, sindh, pakistan",pakistan,linkedin.com/company/associated-consulting-eng...,169,467.0
158564,630876,atlanta area council,boy scouts of america,atlantabsa.org,1916,non-profit organization management,51 - 200,"atlanta, georgia, united states",united states,linkedin.com/company/atlanta-area-council-boy-...,67,232.0
160423,1232013,h3,slow,h3.com,2007,food & beverages,201 - 500,"portugal, portalegre, portugal",portugal,linkedin.com/company/h3,67,169.0

In [19]:
# read csv to parquet
ps3.to_parquet('free-7-million-company-dataset.parquet')

In [20]:
ps3.to_json('free-7-million-company-dataset.json.gzip', compression='gzip')

In [25]:
s3_client = boto3.client('s3', region_name='eu-west-1')

bucket = 'blossom-data-eng-nana'
s3_client.upload_file('free-7-million-company-dataset.json.gzip', bucket, 'free-7-million-company-dataset.json.gzip')
s3_client.upload_file('free-7-million-company-dataset.parquet', bucket, 'free-7-million-company-dataset.parquet')
s3_client.upload_file('s3_project.ipynb', bucket, 's3_project.ipynb')